In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/Raniy/OneDrive/Desktop/genetic diseases/family_health_dataset.csv")

In [5]:
df['bmi'] = df['Weight_kg'] / ((df['Height_cm'] / 100)**2)

In [6]:
df.head()

,Family_ID,Person_ID,Role,Age,Gender,Height_cm,Weight_kg,Has_Diabetes,Has_Hypertension,Has_Heart_Disease,bmi
0,0,0,Father,43,Male,156.0,77.4,0,0,0,31.804734
1,0,1,Grandfather,64,Male,161.9,52.5,0,0,0,20.029292
2,0,2,Son,5,Male,168.4,98.7,0,0,0,34.804306
3,0,3,Grandfather,80,Male,157.6,60.3,1,1,1,24.277552
4,0,4,Mother,31,Female,167.4,100.7,0,0,0,35.935076

In [9]:
def classify_risk(row):
    bmi = row['bmi']
    output = []

    def risk_level(bmi):
        if bmi > 30:
            return 'High Risk'
        elif 25 <= bmi <= 30:
            return 'Moderate Risk'
        else:
            return 'Low Risk'

    if row['Has_Diabetes'] == 1:
        level = risk_level(bmi)
        if level != 'Low Risk':
            output.append(f"{level} of Diabetes")

    if row['Has_Hypertension'] == 1:
        level = risk_level(bmi)
        if level != 'Low Risk':
            output.append(f"{level} of Hypertension")

    if row['Has_Heart_Disease'] == 1:
        level = risk_level(bmi)
        if level != 'Low Risk':
            output.append(f"{level} of Heart Disease")

    return output if output else ["No concerning risks"]

In [10]:
df['Risk_Assessment'] = df.apply(classify_risk, axis=1).apply(lambda x: ", ".join(x))

In [12]:
df.tail(100)

,Family_ID,Person_ID,Role,Age,Gender,Height_cm,Weight_kg,Has_Diabetes,Has_Hypertension,Has_Heart_Disease,bmi,Risk_Assessment
5434,983,5434,Mother,35,Female,177.6,68.7,0,1,0,21.780649,No concerning risks
5435,983,5435,Daughter,16,Female,154.9,72.9,0,0,0,30.382583,No concerning risks
5436,983,5436,Father,48,Male,167.9,82.9,0,0,1,29.407164,Moderate Risk of Heart Disease
5437,984,5437,Mother,46,Female,159.3,46.6,0,0,0,18.363454,No concerning risks
5438,984,5438,Grandfather,77,Male,150.9,75.3,0,0,0,33.068652,No concerning risks
...,...,...,...,...,...,...,...,...,...,...,...,...
5529,999,5529,Son,22,Male,162.7,83.6,0,0,0,31.581385,No concerning risks
5530,999,5530,Son,23,Male,153.6,67.6,0,0,0,28.652615,No concerning risks
5531,999,5531,Daughter,8,Female,148.0,52.9,0,0,0,24.150840,No concerning risks
5532,999,5532,Grandfather,84,Male,171.6,86.5,0,0,0,29.375248,No concerning risks
5533,999,5533,Daughter,17,Female,164.8,68.2,0,0,0,25.111344,No concerning risks

In [15]:
df.to_csv("updated_family_health_dataset.csv", index= False)

In [21]:
df_dl = pd.read_csv("C:/Users/Raniy/OneDrive/Desktop/genetic diseases/updated_family_health_dataset.csv")

In [27]:
df_dl.head(100)

,Family_ID,Person_ID,Role,Age,Gender,Height_cm,Weight_kg,Has_Diabetes,Has_Hypertension,Has_Heart_Disease,bmi,Risk_Assessment
0,0,0,Father,43,Male,156.0,77.4,0,0,0,31.804734,No concerning risks
1,0,1,Grandfather,64,Male,161.9,52.5,0,0,0,20.029292,No concerning risks
2,0,2,Son,5,Male,168.4,98.7,0,0,0,34.804306,No concerning risks
3,0,3,Grandfather,80,Male,157.6,60.3,1,1,1,24.277552,No concerning risks
4,0,4,Mother,31,Female,167.4,100.7,0,0,0,35.935076,No concerning risks
...,...,...,...,...,...,...,...,...,...,...,...,...
95,16,95,Mother,36,Female,185.9,67.9,1,1,0,19.647667,No concerning risks
96,16,96,Grandfather,75,Male,157.8,77.3,1,0,0,31.043129,High Risk of Diabetes
97,17,97,Grandmother,82,Female,174.6,74.6,0,1,0,24.470923,No concerning risks
98,17,98,Son,23,Male,170.1,84.9,0,0,1,29.342632,Moderate Risk of Heart Disease
99,17,99,Daughter,17,Female,168.4,91.5,0,0,0,32.265390,No concerning risks

In [31]:
df_dl['Risk_Assessment'].unique()

array(['No concerning risks',
       'Moderate Risk of Diabetes, Moderate Risk of Hypertension, Moderate Risk of Heart Disease',
       'High Risk of Diabetes', 'High Risk of Hypertension',
       'Moderate Risk of Diabetes', 'Moderate Risk of Heart Disease',
       'High Risk of Hypertension, High Risk of Heart Disease',
       'High Risk of Diabetes, High Risk of Hypertension',
       'High Risk of Heart Disease',
       'Moderate Risk of Hypertension, Moderate Risk of Heart Disease',
       'Moderate Risk of Hypertension',
       'Moderate Risk of Diabetes, Moderate Risk of Heart Disease',
       'High Risk of Diabetes, High Risk of Heart Disease',
       'Moderate Risk of Diabetes, Moderate Risk of Hypertension',
       'High Risk of Diabetes, High Risk of Hypertension, High Risk of Heart Disease'],
      dtype=object)

In [32]:
def encode_risk_level(entry):
    if "High" in entry:
        return 2
    elif "Moderate" in entry:
        return 1
    else:
        return 0

df_dl['Risk_Label'] = df_dl['Risk_Assessment'].apply(encode_risk_level)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.utils import to_categorical
# تحضير البيانات
# Encode Gender
df_dl['Gender_encoded'] = df_dl['Gender'].map({'Female': 0, 'Male': 1})
X = df_dl[['Age', 'bmi', 'Gender_encoded', 'Has_Diabetes', 'Has_Hypertension', 'Has_Heart_Disease']]
y = df_dl['Risk_Label']

# تحويل المخرجات إلى One-Hot Encoding
y_categorical = to_categorical(y, num_classes=3)

# تقسيم Train + Test
X_temp, X_test, y_temp, y_test = train_test_split(X, y_categorical, test_size=0.15, random_state=42)

# تقسيم Train + Validation
X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.1765, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)